#brand {
    text-align: center;
}

#logo img{
    height: 180px;
}

main{
    background-color: red;
    height: 500px;
}

aside{
    background-color: green;
    height: 200px;
}
footer{
    background-color: blue;
    height: 50px;
}
section {
    background-color: blueviolet;
}