html{
    scroll-behavior: smooth;
}

body{
    background-color: #E1E2E1;
}

#brand {
    text-align: center;
}

#logo img{
    height: 180px;
}

#mierda-button{
    text-align: center;
}


.aside-link{
    color: blue;
}


#up-button{
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -ms-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}